* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Style */

/* Body */
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
ol,
label,
footer,
header,
nav {
    font-family: cursive;
}

body {
    background-color: rgb(48, 48, 48);
    overflow-x: hidden;
}
